{% extends 'base.html.twig' %}

{# cette page est la page de evenement, elle doit afficher le détail de evenement  #}

{% block title %}{{ event.name }}{% endblock %}

{% block body %}

<h1>{{ event.name }}</h1>

<p>{{ event.description }}</p>

<span>Nombre de place : {{ event.limitParticipant }}</span>

{% endblock %}
